body {
    background-color:azure;
    margin-left: 20px;
}

h1 {
    color:black;
    text-align: center;
}

h2 {
    color:cornflowerblue
}

img {
    width: 25%;
    height: 25%;
    display: block;
}